<html>
<head>
	<title>Willy Cafe</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>Welcome to Willy Cafe's Waiter App</h1>
		<%= erb :"/static/navigation" %>
	</header>
	<main>

	<%= yield %>

	</main>
	<footer>
		<%= erb :"/static/copyright" %>
	</footer>
</body>
</html>