<html>
<head>
	<title><%= page_title %></title>
	<link rel="stylesheet" href="/application.css">
</head>
<body>
	<header>
		<h1>WILLY CAFE</h1>
		<nav>
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/parties">VIEW PARTIES</a></li>
				<li><a href="/parties/new">ADD PARTY</a></li>
				<li><a href="/foods">VIEW FOOD ITEMS</a></li>
				<li><a href="/foods/new">ADD FOOD ITEMS</a></li>
			</ul>
		</nav>
	</header>
	<main>

	<%= yield %>

	</main>

	<footer>
		<nav>
			© 2015 Willy Cafe LLC
		</nav>
	</footer>
</body>
</html>