<h2>List of Food Items</h2>

<ul>

<% @foods.group_by{|food|food.category}.each do |category, foods| %>
<h3><%= category %></h3>
	<% @foods.each do |food|  %>
		<li><a href="/foods/<%= food.id %>"><%= food.name %> - £<%= food.price %></a></li>
	<% end %>
<% end %>
	<br>
	<a class="add" href="/foods/new">Add a New Food Item</a>
</ul>
