<h2>Add a Food Item</h2>

<form action="/foods" method="POST">
	Name: <input type="text" name="food[name]"><br>
	Category: <input type="text" name="food[category]"><br>
	Cuisine Type: <input type="text" name="food[cuisine_type]"><br>
	Price: £<input type="text" name="food[price]"><br>
	Vegetarian?
	<input name="food[vegetarian]" type="radio" value="true">True <input checked="checked" name="food[vegetarian]" type="radio" value="false">False

	<input class="button" type="submit" value="Add Food Item"><br>
</form>